* {
    box-sizing: border-box;
    font-family: sans-serif;
}

/* 3D Effect */

body {
    margin: 0;
    background-color: #2b2a33;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    perspective: 800;
}

.App {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    animation: rotate 10s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

.face {
    position: absolute;
    height: 90vmin;
    width: 15vmin;
    background-color: white;
    color: black;
    border: 1px solid black;
}

#front,
#back {
    width: 50vmin;
}

#front {
    transform: translateZ(7.5vmin);
}

#back {
    transform: rotateY(180deg) translateZ(7.5vmin);
}

#left {
    transform: rotateY(-90deg) translateZ(25vmin);
}

#right {
    transform: rotateY(90deg) translateZ(25vmin);
}

/* Drawing the TARS */

#front,
#back {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 3.5px;
    row-gap: 1px;
    background-color: black;
}

.grey-bg {
    background-color: #a9a9a9;
}

/* Arms and legs */

.arms,
.legs {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
}

.fingers {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 1px;
}

/* Front body */

.top-screens,
.bottom-screens {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1px;
}

.screens {
    grid-column: span 2;
}

.span-row-two {
    grid-row: span 2;
}

/* Back body */

.back-body {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 1px;
}