* {
    box-sizing: border-box;
    font-family: sans-serif;
}

/* 3D Effect */

body {
    margin: 0;
    background-color: #2b2a33;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    perspective: 800;
}

.App {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    animation: rotate 5s infinite linear;
}

.face {
    position: absolute;
    height: 80vmin;
    width: 10vmin;
    background-color: white;
    color: black;
    border: 1px solid black;
}

#front,
#back {
    width: 50vmin;
}

#front {
    transform: translateZ(5vmin);
}

#back {
    transform: rotateY(180deg) translateZ(5vmin);
}

#left {
    transform: rotateY(-90deg) translateZ(25vmin);
}

#right {
    transform: rotateY(90deg) translateZ(25vmin);
}

@keyframes rotate {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}